[submodule "project1"]
	path = project1
	url = https://github.com/kavindukaveesha/N-library-Java-EE-
[submodule "project2"]
	path = project2
	url = https://github.com/kavindukaveesha/N-library-Java-EE-
[submodule "project3"]
	path = project3
	url = https://github.com/PrasaKV/DEA-DietMe
